.job{
    border-bottom:2px solid rgba(163, 163, 163, 0.49);
    padding:10px;
}

.job > h4{
     font-weight:bold;
     font-family: "Book Antiqua";
}

.job > .loc{
    text-align: left;
    font-size: 12px;
    color: silver;
    margin-right:10px;
}

.job > .pub{
    font-size: 12px;
    color: silver;
    margin-right:10px;
}

.job > .categoryspan{
    font-size: 12px;
    color: silver;
    margin-right:10px;
}
/*loader*/
.loader {
    border: 6px solid #191bf3; /* Light grey */
    border-top: 6px solid #050403; /* Black */
    border-radius: 50%;
    width:50px;
    height:50px;
    margin:auto;
    position:absolute;
    top:30px;
    left:30%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


 /*DATApiker  */

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}